<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <appSettings>
    <add key="UseIGForAzureEventListener" value="true" />
    <add key="NumberOfRandomMessagesInBatch" value="1000" />
    <add key="NumberOfDevicesToUse" value="5" />
    <!-- The next app settings should be specific to your instance of Azure IoT Hub.
    Please contact support@scaleoutsoftware.com to get a help with identifying the values for them -->
    <add key="EventHubName" value="" />
    <add key="EventHubConnectionString" value="" />
    <add key="EventHubEventsEndpoint" value="" />
    <add key="StorageConnectionString" value="" />
    <add key="ConsumerGroupName" value="demo" />
    <add key="Device1ConnectionString" value="" />
    <add key="Device2ConnectionString" value="" />
    <add key="Device3ConnectionString" value="" />
    <add key="Device4ConnectionString" value="" />
    <add key="Device5ConnectionString" value="" />
  </appSettings>
  <system.diagnostics>
    <switches>
      <!--
          Specify switchName (instead of switchValue) to use the same
          switch for multiple sources.
          Values can either be SourceLevels name values, decimal,
          or hexadecimal.
        -->
      <add name="DigitalTwinClientTraceSwitch" value="Verbose" />
    </switches>
    <sources>
      <!--
        = Sample Source =
      <source name=""
              switchValue="All|None|Critical|Error|Warning|Information|Verbose|ActivityTracing"
              switchName="">
        <listeners>
          <clear />
          <add name="" />
          <add name="" />
        </listeners>
      </source>
      -->
      <source name="ScaleOut.Streaming.DigitalTwin.Samples.Client" switchValue="" switchName="DigitalTwinClientTraceSwitch">
        <listeners>
          <clear />
        </listeners>
      </source>
    </sources>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30AD4FE6B2A6AEED" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-12.0.0.0" newVersion="12.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.IdentityModel.Clients.ActiveDirectory" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-4.5.0.0" newVersion="4.5.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>